.xs svg {
  margin-right: 4px;
}

.sm svg {
  margin-right: 8px;
}

.med svg {
  margin-right: 8px;
}
.lg svg {
  margin-right: 10px;
}
.xlg svg {
  margin-right: 12px;
}
.auto svg {
  margin-right: 4px;
}
